/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none!important;
  
}

.plant-images{
  height: 200px;
width: 190px;
border-radius: 20%;
}
/* logo homepage */
.main-logo{
  max-width: 180px;
 /*  background-color: rgba(255, 255, 255, 0.322); */
  border-radius: 120%;
  padding: 10px;
}
.signup a,.login a{
  display: block;
  text-decoration: none;
  text-align: center;
  color: #ffffff!important;
  max-width:200px;
  padding:8px;
  margin:auto;
  padding: 15px;
  font-size: 16pt;
  background-color: #4e7441;
  border-radius: 50px;
  transition-duration: 0.4s;
  }
.main-text{
  width:50%;
  padding:8px;
  margin:auto;
  color: #ffffff;
  text-align: center;
  font-size: 18pt;
}
.home-background{
  background-color: #4e744163;
  width:50%;
  padding:8px;
  margin:auto;
  border-radius: 50px;
}
.main-page{
  width: 100%;
  height: auto;
  text-align: center;
}
/* video */
#video_background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
  }

  #video_pattern {
    background:#fff;
    position: fixed;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    }

    /* signup and login */
    .signup,.login{
      text-align: center;
      margin: 5% 0;
  }

  .register {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(207, 207, 207, 0.6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.register h2{
    margin: 0 0 30px;
    padding: 0;
    color: #000000;
    text-align: center;
}
.register .section {
    position: relative;
}
.register .section label{
    color: #000000;
}
.register .section label input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.register button {
    border: none;
    outline: none;
    color: #fff;
    background:#4e7441ec;
    margin-bottom: 5%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.register a{
    color:#fff;
}
.err-message{
  color: red;
}
/* footer */
.footer {
  width: 100%;
  height: 150px;
  background: #ffefef;
  position: -webkit-sticky!important;
  left: 0;
  bottom: 0;

}

.footer img{
  width: 100px;
  height: auto;
  display: inline-block;
 
  margin-top: 10px;
  border-radius: 150%;
}
/* navbar */
.container-nav-links{
  
    width: 80%;
    margin: 0 auto;
  
}
nav {
  background: #ffefef;
  
}

nav::after {
  content: '';
  display: table;
  clear: both;
}



/* .navbar{

  position: -webkit-sticky!important;
  background: #ffefef;
width: 100%;
 display: flex;
 justify-content: space-between;
align-items: center;
} */


.nav-item{
  font-weight: 700;
 /*  text-align: center!important; */
 float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}
.logo-nav{
  max-width: 120px;
    /* background-color: rgba(255, 255, 255, 0.322); */
    border-radius: 100%;
    float: left;
    padding: 10px 0;
}
nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
nav a:hover {
  color: rgb(100, 145, 82);
}
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(100, 145, 82);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}

/* List Plants */

.container-list-all-plants{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  margin: 2% 0%;

}

.listplant{
  width: 400px;
    background-color: rgba(182, 101, 132, 0.048);
    box-shadow: 0px 0px 5px 5px rgba(165, 164, 164, 0.322);
    border-radius: 2%;
    padding-top:20px;
}
.name-plant{
  color: black;
}

/* MyPlants */


.title-plant-details{
  width:50%;
    padding:8px;
    margin:auto;
    text-align: center;
}
.button-add{
  
    
    border: none;
    outline: none;
    color: #fff;
    background:#4e7441ec;
    margin-bottom: 5%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.plant-card-main{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  margin: 2% 0%;
  
  
}
.plant-card{
  width: 400px;
    background-color: rgba(182, 101, 132, 0.048);
    box-shadow: 0px 0px 5px 5px rgba(165, 164, 164, 0.322);
    border-radius: 2%;
    padding-top:20px;
}




/* /* search */
/* .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
} */ 